<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Image</th>
                <th scope="col">Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agency of myAgency">
                <th scope="row">{{agency.id}}</th>
                <td>{{agency.name}}</td>
                <td>{{agency.address}}</td>
                <td>{{agency.phone}}</td>
                <td><img src={{agency.image}} width="200" height="150" /></td>
                <td><a *ngIf="agency.id" class="btn btn-primary" [routerLink]="['/edit', agency.id]">View</a></td>
            </tr>
        </tbody>
    </table>
</div>