<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="assets\images\bankagency.jpg" class="img-fluid" alt="A propos">
            </div>
            <div class="container">
                <h1 style="text-align: center;">À propos de Bank Agency</h1>
                <div style="text-align: center;"><br>
                    <p>
                        Bank Agency est une application de gestion d'agences bancaires qui vous permet de gérer les
                        informations des agences.
                    </p>
                    <p>
                        Si vous avez des questions ou des commentaires sur cette application, n'hésitez pas à nous
                        contacter.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>