<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">BankAgency</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" *ngIf="!authService.getIsAuthenticated()" routerLink="login">Se Connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" *ngIf="authService.getIsAuthenticated()" aria-current="page"
            routerLink="list">Liste des agences</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="authService.getIsAuthenticated()" routerLink="add">Ajouter une agence</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!authService.getIsAuthenticated()" routerLink="about">A propos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="authService.getIsAuthenticated()" (click)="logout()">Se déconnecter</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>